extends layout

block content
  script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.min.js')
  script.
    var loader = new THREE.JSONLoader();
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );
    
    var renderer = new THREE.WebGLRenderer();
    renderer.setSize( window.innerWidth, window.innerHeight );
    document.body.appendChild( renderer.domElement );
    
    loader.load('/planetary/planet', function(planet){
      console.log(planet);
      var geometry = planet;
      var material = new THREE.MeshBasicMaterial( { wireframe: true, color: 0xffffff, linewidth: 1 } );
      var cube = new THREE.Mesh( geometry, material );
      scene.add( cube );
      
      camera.position.z = 5;
      
      var render = function () {
        requestAnimationFrame( render );
        
        cube.rotation.x += 0.001;
        cube.rotation.y += 0.001;
        
        renderer.render(scene, camera);
      };
      
      render();
    });
